<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087712569948-ur8cj5bnca4h2aep7ah1r18f96v6sver.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087712569948-ur8cj5bnca4h2aep7ah1r18f96v6sver</string>
	<key>API_KEY</key>
	<string>AIzaSyApAVBYLgjO3eH0zTgSruAUeELgENc5cGI</string>
	<key>GCM_SENDER_ID</key>
	<string>1087712569948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toda.baseballQuizApp.dev</string>
	<key>PROJECT_ID</key>
	<string>baseball-quiz-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>baseball-quiz-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087712569948:ios:cd764630abc3f112cf5499</string>
</dict>
</plist>