name: baseball_quiz_app
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 2.2.0+13

environment:
  sdk: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Other packages in the project.
  model:
    path: ../model
  common:
    path: ../common

  # UI.
  awesome_select: ^6.0.0
  confetti: ^0.7.0 # 紙吹雪を出すために使用
  google_fonts: ^6.1.0
  table_calendar: ^3.0.9
  textfield_search: ^0.10.0

  # Routing.
  auto_route: ^7.9.0

  # Environment variables.
  flutter_dotenv: ^5.0.2

  # State management.
  flutter_riverpod: ^2.4.3

  # Code generation.
  freezed_annotation: ^2.4.1
  json_annotation: ^4.9.0
  riverpod_annotation: ^2.2.0
  
  # Static analysis.
  pedantic_mono: ^1.20.1

  # AdMob.
  google_mobile_ads: ^4.0.0

  # Local Database.
  hive_flutter: ^1.1.0

  # Supabase.
  supabase_flutter: ^1.2.2

  # Firebase.
  firebase_analytics: ^10.1.6
  firebase_core: ^2.8.0
  firebase_crashlytics: ^3.0.17
  firebase_messaging: ^14.3.0

  # Utility.
  app_tracking_transparency: ^2.0.3
  intl: ^0.18.0
  # 現在時刻をネットワークから取得するために使用
  # しばらくメンテされていないという懸念あり
  ntp: ^2.0.0
  timezone: ^0.9.2

# firebase_authと依存関係のエラーが表示するため、回避策としてoverride
# 参考
# https://github.com/dart-lang/intl/issues/522#issuecomment-1469961807
dependency_overrides:
  # 日付を表示用にフォーマットするために使用
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # CI/CD.
  cider: ^0.1.6

  # Assets.
  flutter_launcher_icons: ^0.13.1
  flutter_native_splash: ^2.1.0

  # Code generation.
  auto_route_generator: ^7.3.1
  build_runner: ^2.4.7
  freezed: ^2.4.5
  hive_generator: ^2.0.1
  json_serializable: ^6.7.1
  riverpod_generator: ^2.3.9

  # Static analysis.
  dependency_validator:
  custom_lint: ^0.5.0
  flutter_lints: ^2.0.0
  riverpod_lint: ^2.3.7

flutter_icons:
  android: true
  ios: true

flutter:

  uses-material-design: true

  assets:
    - .env
    - assets/in_app/

flutter_native_splash:
  color: '#FFF8E1'
  image: 'assets/splash/splash.png'
  fullscreen: true
  android_12:
    icon_background_color: '#FFF8E1'
    image: 'assets/splash/splash.png'